@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #2F303A;
    --accent-color: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--primary-color);
}

.text-logo {
    color: var(--primary-color);
}

.contact-info {
    color: var(--secondary-color);
}

.contact-info,
.navigation-button-list {
    list-style-type: none;
}

.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
}

.tel,
.email,
.navigation-button,
.navigation-button-active {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: inherit;
}

.tel:hover,
.email:hover,
.accent-text-logo,
.navigation-button:hover,
.navigation-button-active {
    color: var(--accent-color);
}
